# Arquivos de ambiente e segredos
.env
*.env
*.env.*
!.env.example

# Logs e backups locais
*.log
logs/
*.zip
*.bundle
*.tar.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências e compilações futuras
node_modules/
dist/
build/
out/
target/
backend/data/*.sqlite*
backend/data/*.db*
bin/
obj/
*.class
__pycache__/
*.py[cod]
venv/
.venv/

# IDEs e editores de código
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.suo
*.user
*.userosv
*.sln.docstates

# Sistema Operacional
.DS_Store
Thumbs.db
Desktop.ini
